<h1>How is the weather today?</h1>

<div></div>

<div id="city-container">

<button id="Amsterdam-btn" class="city-btn">
  <a routerLink="/weather-city/{{cities[0].id}}">Amsterdam</a></button>

<button id="London-btn" class="city-btn">
  <a routerLink="/weather-city/{{cities[1].id}}">London</a></button>
  
<button id="Berlin-btn" class="city-btn">
  <a routerLink="/weather-city/{{cities[2].id}}">Berlin</a></button>

<button id="Tokyo-btn" class="city-btn">
  <a routerLink="/weather-city/{{cities[3].id}}">Tokyo</a></button>

<button id="Paris-btn" class="city-btn">
  <a routerLink="/weather-city/{{cities[4].id}}">Paris</a></button>

<button id="Madrid-btn" class="city-btn">
  <a routerLink="/weather-city/{{cities[5].id}}">Madrid</a></button>
</div>