#search-bttn {
    width: 20%;
    height: 2em;
    font-family: objektiv-mk2, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 79.8px;
    width: 456.8px;
    background: url(../../assets/btn-find-loc.png);
    background-position: center;
    border: none;
    font-size: 2em;
    /* background-image: url(.../assets/button.png); */
}