*{
    margin: 0;
    padding: 0;
}

 #view{
    display: block;
    background-image: url(../assets/sky.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%; 
    height: 100vh;
    background-size: 100% 100%;
    background-size: cover;
}

#header{
    display: flex;
    align-items: center;
    gap: 5%; 
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.3);  
}

