html, body, app-root{
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: objektiv-mk2, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    vertical-align: center;
}

h1{
    font-size: 4em;
    text-align: center;
    color: white;
    margin-top: 5%; 
    margin-bottom: 0;
}

h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}

button{
    height: 80px;
    width: 320px;
    font-family: objektiv-mk2, sans-serif;
    font-weight: 400;
    font-style: normal; 
    text-align: center; 
    font-size: 2em;
    border: none;
    color: white;
    background-position: center;
    cursor: pointer;
    background: url(./assets/button_new.png);
    padding-top: 2%;
     
}

button:hover{
    background: url(./assets/hover-button.png);
}

a {
    text-decoration: none;
    color: white;
}